body {
	color: white;
	background: white;
	font-family:Courier;
	width:960px;
	margin:auto;
}

.transbox{width:400px;
  height:180px;
  margin:30px 50px;
  background-color:#ffffff;
  border:1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60);}
html { 
  background: url(http://upload.wikimedia.org/wikipedia/commons/d/d4/MSU_Union.jpg) no-repeat fixed bottom ; 
  background-size: auto;
}

header, main, footer {
	clear:both;
	margin-left:0;
	width:960px;
	
}

header, main, h1, h2 {
	color:black;
	font-weight: bold;
}

a, a:visited {
	color:black;
	text-decoration:none;
}

a:hover {
	color: black;
	text-decoration: none;
}

#nav {
	list-style: none;
	width:960px;
	margin-left: 100px;
	
	
}

#nav li {
	display:block;
	float: left;
	padding:5px;
	margin-bottom:20px;
	margin-right:10px;
	height:30px;
	width:110px;
	text-align:center;
	font-size:13px;
	border: solid black;
	border-radius: 5px 20px 5px;
	font-weight: bold
	
}

#menu {
	width:150px;
	display: block;
	float:left;
	margin-left:-40px;
	}

#menu ul {
	list-style: none;
	float:left;
	margin-left:0;
	border-right: 1px solid #c0c0c0;
	}
	
#menu li {
	width: 125px;
	padding:5px;
	margin-bottom:10px;
	font-size:13px;
	}
	
article {
	width:800px;
	display: block;
	float:right;
	}
	
p 	{ color: black;
